@model CharacterSheetViewModel
@{
    ViewData["Title"] = "CharacterSheet";
}

<!--Note to self. Use inputs, all with the same id, then add an onchange event listener in javascript,
    so that when any of the inputs change I can send it off in an https request. Then maybe put some sort of 
    timer before the save triggers again?-->
<div class="">
    <span>Character selection</span>
    <select id="characterSelect" width="50px">

    </select>
</div>
<div class="container-fluid">
    <h2>CharacterSheet</h2>
    <label asp-for="CharacterSheet.CharLevel">Character Level</label>
    <input asp-for="CharacterSheet.CharLevel" class="sheetObj" />
</div>
